.mainButton {
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1rem;
    background-color: blue;
}

.createCategory {
    margin-top: 20%;
}
.createCategory button {
    padding: 1rem;
    margin-left: 10px;
    background-color: blue;
}