.mainButton {
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1rem;
    background-color: blue;
}
.button {
    margin-top: 2%;
    padding: 1rem;
    margin-left: 10px;
    background-color: blue;
}
.dashboard {
    margin-top: 20%;
}
.dashboard button {
    padding: 1rem;
    margin-left: 10px;
    background-color: blue;
}